* {
  box-sizing: border-box;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 2.5em;
  padding: 10px;
  background-color: burlywood;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.calculator-container {
  background-color: #c5c5c5;
  border: solid black 1px;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  min-width: 360px;
  height: 600px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.screen {
  height: 130px;
  font-size: 2.5em;
  padding: 10px;
  background-color: white;
  border: solid burlywood 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}

.display-value {
  opacity: 40%;
  text-align: end;
}

.display-equation > p {
  display: inline;
}

.calculator-btns {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: burlywood;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-btns > button {
  font-weight: 400;
  font-size: 1.5em;
  border-radius: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.calculator-btns > button:hover {
  cursor: pointer;
  background-color: rgb(209, 206, 206);
  transform: scale(1.01);
}

#clear-btn {
  grid-column: 1 / 3;
  background-color: rgb(255, 128, 128);
}

#clear-btn:hover {
  background-color: rgb(192, 82, 82);
}
